@import "variables";
@import "breakpoints";
@import "fonts";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $color-background;
    color: $color-text;
    font-family: $font-family;
    font-weight: $font-weight;
}

a {
    text-decoration: none;
    color: $color-text;
    transition: .3s;
    &:hover {
        color: $color-hover;
        transition: .3s;
    }
}


